#topic-detail {
  background: #FFFFFF;
}

#topic-detail .title-area {
  padding: 10px 0;
}

#topic-detail h1 {
  margin-bottom: 15px;
  padding: 0 0 15px;
  color: #222222;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 150%;
  border-bottom: 2px solid #dcdcdc;
}

#topic-detail h1 a {
  color: #222222;
}

@media (min-width: 544px) {
  #topic-detail h1 {
    font-size: 1.4em;
  }
}

@media (min-width: 768px) {
  #topic-detail h1 {
    font-size: 1.4em;
  }
}

@media (min-width: 992px) {
  #topic-detail h1 {
    font-size: 1.8em;
  }
}

@media (min-width: 1200px) {
  #topic-detail h1 {
    font-size: 1.8em;
  }
}

#topic-detail .data .date, #topic-detail .data .name {
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 0.6em;
  color: #888888;
  float: left;
}

#topic-detail .data .name {
  text-align: right;
}

@media (min-width: 544px) {
  #topic-detail .data .date, #topic-detail .data .name {
    font-size: 0.6em;
  }
}

@media (min-width: 768px) {
  #topic-detail .data .date, #topic-detail .data .name {
    font-size: 0.6em;
  }
}

@media (min-width: 992px) {
  #topic-detail .data .date, #topic-detail .data .name {
    font-size: 0.8em;
  }
}

@media (min-width: 1200px) {
  #topic-detail .data .date, #topic-detail .data .name {
    font-size: 0.8em;
  }
}

#topic-detail .main .body {
  font-size: 0.8em;
  line-height: 175%;
}

@media (min-width: 544px) {
  #topic-detail .main .body {
    font-size: 0.9em;
  }
}

@media (min-width: 768px) {
  #topic-detail .main .body {
    font-size: 0.9em;
  }
}

@media (min-width: 992px) {
  #topic-detail .main .body {
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  #topic-detail .main .body {
    font-size: 1em;
  }
}

#topic-detail .btn-like-wrap {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#topic-detail .btn-like-wrap .btn-like {
  margin-right: 10px;
  float: left;
}

#topic-detail .btn-like-wrap .btn-like:focus {
  outline: none;
}

#topic-detail .btn-like-wrap .balloon {
  float: left;
  border: 1px solid #CCCCCC;
  border-radius: 0.25rem;
  position: relative;
}

#topic-detail .btn-like-wrap .balloon:before {
  border-right: 5px solid #CCCCCC;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content: '';
  margin-top: -10px;
  position: absolute;
  left: -6px;
  top: 24px;
}

#topic-detail .btn-like-wrap .balloon:after {
  border-right: 4px solid #fff;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  content: '';
  margin-top: -10px;
  position: absolute;
  left: -4px;
  top: 25px;
}

#topic-detail .btn-like-wrap .balloon p {
  margin: 0;
  padding: 0.5rem 1rem;
  display: inline-block;
  line-height: 1.25;
}

#topic-detail .comment_no_login {
  background: #EEEEEE;
  font-size: 0.8em;
}

#topic-detail .comment_no_login p {
  padding: 15px 0;
  text-align: center;
}

#topic-detail .comment-area {
  padding: 15px 10px;
  border-top: 1px solid #dcdcdc;
}

#topic-detail .comment-area .title {
  font-weight: bold;
  margin-bottom: 10px;
}

#topic-detail .comment {
  margin-bottom: 10px;
}

#topic-detail .comment .user {
  float: left;
  width: 80px;
  padding-right: 10px;
}

#topic-detail .comment .name {
  font-size: 0.6em;
  color: #AAAAAA;
  text-align: center;
  line-height: 150%;
  word-break: break-word;
}

#topic-detail .comment .body {
  margin-left: 80px;
  padding: 12px 15px 7px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  background: #FFFFFF;
  font-size: 0.7em;
  position: relative;
}

@media (min-width: 544px) {
  #topic-detail .comment .name {
    font-size: 0.6em;
  }
}

@media (min-width: 768px) {
  #topic-detail .comment .name {
    font-size: 0.6em;
  }
}

@media (min-width: 992px) {
  #topic-detail .comment .name {
    font-size: 0.8em;
  }
}

@media (min-width: 1200px) {
  #topic-detail .comment .name {
    font-size: 0.8em;
  }
}

@media (min-width: 544px) {
  #topic-detail .comment .body {
    font-size: 0.7em;
  }
}

@media (min-width: 768px) {
  #topic-detail .comment .body {
    font-size: 0.7em;
  }
}

@media (min-width: 992px) {
  #topic-detail .comment .body {
    font-size: 0.9em;
  }
}

@media (min-width: 1200px) {
  #topic-detail .comment .body {
    font-size: 0.9em;
  }
}

#topic-detail .comment .body:before {
  content: '';
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  position: absolute;
  border-right-color: rgba(0,0,0,0.2);
  top: 7px;
  left: -11px;
}

#topic-detail .comment .body:after {
  content: '';
  display: inline-block;
  border-right: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-top: 9px solid transparent;
  position: absolute;
  border-right-color: #FFFFFF;
  top: 8px;
  left: -9px;
}

#topic-detail .comment .body .date {
  margin-top: 8px;
  font-size: 0.8em;
  color: #888888;
  text-align: right;
}

#topic-detail .comment .body .text {
  word-break: break-word;
}

#topic-detail .comment-post .comment textarea {
  width: 100%;
  height: 100px;
  padding: 15px;
  border: 1px solid #CCCCCC;
}

#topic-detail .comment-post .comment .btn-submit {
  float: right;
  display: block;
}